.inputField {
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;

  &__label {
    display: block;
    margin-bottom: 0.5rem;
  }

  &__input {
    padding: 1rem;
    display: block;
    margin-bottom: 0.5rem;
    border: 1px solid lightgray;
    &:hover {
      border-color: gray;
    }
    &:focus {
      background-color: lightcyan;
      border-color: gray;
      border-width: 2px;
      outline: none;
    }
  }

  &__helperText {
    margin-bottom: 0.5rem;
  }

  &__errorText {
    margin-bottom: 0.5rem;
  }
}
