:root {
  --clr-primary: #312d2d;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--clr-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
}

.btn {
  // display: inline-block;
  padding: 0.3rem 0.8rem;
  border: 2px solid var(--clr-primary);
  text-transform: uppercase;
  transition: 200ms linear;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover {
    background-color: var(--clr-primary);
    color: #fff;
    transform: scale(0.95);
  }
}

.btn-filled {
  background-color: var(--clr-primary);
  color: #fff;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover {
    background-color: rgb(73, 68, 68);
    border: 2px solid var(--clr-primary);
    transform: scale(0.95);
  }
}

.input {
  border: 1px solid lightgrey;
  background-color: lightgray;
  padding: 10px;
  outline: none;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover {
    border: 1px solid gray;
  }
}

.uppercase {
  text-transform: uppercase;
}

.card {
  border: 1px solid lightgray;
  border-radius: 3px;
  overflow: hidden;
}
